build*/
subprojects/*
!subprojects/acpi-power-state-daemon/
!subprojects/dhcp-done/
!subprojects/libcr51sign/
!subprojects/metrics-ipmi-blobs/
!subprojects/metric-collection-daemon
!subprojects/ncsid/
!subprojects/nemora-postd/
!subprojects/fmt.wrap
!subprojects/googletest.wrap
!subprojects/phosphor-dbus-interfaces.wrap
!subprojects/phosphor-logging.wrap
!subprojects/sdbusplus.wrap
!subprojects/sdeventplus.wrap
!subprojects/stdplus.wrap
