/**/build*/
/**/subprojects/*/
!/**/subprojects/acpi-power-state-daemon/
!/**/subprojects/kcsbridge/
!/**/subprojects/metrics-ipmi-blobs/
!/**/subprojects/ncsid/
!/**/subprojects/nemora-postd/
/**/subprojects/*.wrap
