[Unit]
Description=Target when nic enters mode without host
Conflicts=nic-hostful@%i.target
Wants=dhcp4@%i.service
Wants=dhcp6@%i.service
Wants=update-static-neighbors@%i.service
Wants=update-static-neighbors@%i.timer
